<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
<!-- <listeners>
		<listener class-name="com.resource.Listeners"></listener>
	</listeners>-->
  <test thread-count="5" parallel="classes" name="login test">
    <classes>
      <class name="com.runner.LoginPageTest"/>
      </classes>
  </test> 
      <test thread-count="5" parallel="classes" name="cart test">
    <classes>
      <class name="com.runner.CartcheckTest"/>
      </classes>
  </test> 
      <test thread-count="5" parallel="classes" name=" search  pagetest">
    <classes>
      <class name="com.runner.SearchPageTest"/>
      </classes>
  </test> 
      <test thread-count="5" parallel="classes" name="order page test">
    <classes>
      <class name="com.runner.OrderPageTest"/>
      </classes>
  </test> 
      <test thread-count="5" parallel="classes" name="home page test">
    <classes>
      <class name="com.runner.HomePage"/>
      </classes>
  </test> 
      <test thread-count="5" parallel="classes" name="about page test">
    <classes>
      <class name="com.runner.AboutPageTest"/>
      </classes>
  </test> 
      <test thread-count="5" parallel="classes" name="wishlist page test">
    <classes>
      <class name="com.runner.WishlistTest"/>
      </classes>
  </test> 
      <test thread-count="5" parallel="classes" name="intex page test">
      
    <classes>
      <class name="com.runner.indexPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
